@{
    Layout = "_Layout";
    ViewData["Title"] = "Order";
}
<div class="container-fluid">
    <div class="container py-5 py-sm-7">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-6">
                <div class="card card-lg mb-5">
                    <div class="card-body ">
                        Search Status
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}