.btn-custom-100 {
    width: 100%;
}

.step-title-custom {
    display: block;
    color: #1e2022;
    font-weight: 600;
}

.dropdown-divider-custom {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 4px solid #e7eaf3;
}

.step .step-icon-custom {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.09375rem;
    font-weight: 600;
    width: 2.625rem;
    height: 2.625rem;
    border-radius: 50%;
    margin-right: 1rem
}

.step .active .step-icon-custom,
.step .active.is-valid .step-icon-custom {
    color: #fff;
    background-color: #FF7A45
}

.step .is-valid .step-icon-custom {
    color: #fff;
    background-color: #2EB553
}


button.btn.btn-custom {
    color: #fff;
    background-color: #FF7A45;
    border-color: #FF7A45
}

    button.btn.btn-custom:hover {
        color: #fff;
        background-color: #e08865;
        border-color: #e08865
    }

    button.btn.btn-custom.focus,
    button.btn.btn-custom:focus {
        color: #fff;
        background-color: #e08865;
        border-color: #e08865;
        box-shadow: 0 0 0 .2rem rgb(224, 136, 101)
    }

    button.btn.btn-custom.disabled,
    button.btn.btn-custom:disabled {
        color: #fff;
        background-color: #e08865;
        border-color: #e08865
    }

    button.btn.btn-custom:not(:disabled):not(.disabled).active,
    button.btn.btn-custom:not(:disabled):not(.disabled):active,
    button.btn.show > button.btn.btn-custom.dropdown-toggle {
        color: #fff;
        background-color: #e08865;
        border-color: #e08865
    }

        button.btn.btn-custom:not(:disabled):not(.disabled).active:focus,
        button.btn.btn-custom:not(:disabled):not(.disabled):active:focus,
        button.btn.show > button.btn.btn-custom.dropdown-toggle:focus {
            box-shadow: 0 0 0 .2rem rgb(224, 136, 101)
        }

.font-custom-footer {
    /* font-family: Roboto; */
    /* font-style: normal; */
    /* font-weight: normal; */
    font-size: 12px;
    line-height: 16px;
    color: #8c8c8c;
}

.custom-font-title {
    color: black;
    font-weight: 900;
    font-size: 14px;
}

.custom-font-details {
    line-height: 16px;
    color: black;
    font-weight: 500;
    font-size: 14px;
}

.new {
    border: 2px solid red;
    border-radius: 25pxs;
}

.custom-toggle-switch-label {
    position: relative;
    display: block;
    width: 3rem;
    height: 2rem;
    background-color: #e7eaf3;
    background-clip: content-box;
    border: .125rem solid transparent;
    border-radius: 6.1875rem;
    transition: .3s
}

.toggle-switch-input:checked + .custom-toggle-switch-label {
    background-color: #FF7A45
}

    .toggle-switch-input:checked + .custom-toggle-switch-label .toggle-switch-indicator {
        -webkit-transform: translate3d(1.025rem, 50%, 0);
        transform: translate3d(1.025rem, 50%, 0)
    }

.toggle-switch-input.is-valid + .custom-toggle-switch-label {
    background-color: #00c9a7
}

.toggle-switch-input.is-invalid + .custom-toggle-switch-label {
    background-color: #ed4c78
}

.toggle-switch-input:disabled + .custom-toggle-switch-label {
    background-color: rgba(231, 234, 243, .5)
}

.toggle-switch-input:checked:disabled + .custom-toggle-switch-label {
    background-color: rgba(55, 125, 255, .5)
}

.toggle-switch-sm .custom-toggle-switch-label {
    width: 2.5rem;
    height: 1.6125rem
}

.toggle-switch-sm .custom-toggle-switch-label {
    width: 1.20938rem;
    height: 1.20938rem
}

.toggle-switch-sm .toggle-switch-input:checked + .toggle-switch-label .custom-toggle-switch-label {
    -webkit-transform: translate3d(.81094rem, 50%, 0);
    transform: translate3d(.81094rem, 50%, 0)
}

.custom-aside-left {
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    background-color: lightgray;
}

.pull-right-custom {
    float: right;
}

.bg-color-header {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(50,99,171,1) 0%, rgba(84,149,190,1) 42%, rgba(15,210,152,1) 78%);
}

.lable-text-custom-1 {
    font-size: 1.2rem;
}